@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: noto-sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--whiteSlightlyDimmed);
  background-color: var(--globalBackground);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);

  /* Colors */
  /* Text colors */
  --white: #ffffff;
  --whiteDimmed: #cccccc;
  --whiteSlightlyDimmed: #e6e6e6;
  --green: #22c55e;
  --greenLight: #a8f0c2;

  /* Background colors */
  --globalBackground: #141414;
  --darkGreen: #072c15;

  /* Border colors */
  --imgBorderHover: #415471;
  --imgBorder: #2f3c51;
}

#root {
  height: 100vh;
  width: 100vw;
  margin: auto;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Loader styles */
.loading {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.loader {
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.loading-in .loader {
  opacity: 1;
  transition: opacity 0.2s ease-out 1s;
}

.loading__mask {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(-110%);
  backface-visibility: hidden;
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.loading-in .loading__mask {
  transform: translateY(0);
}

.loading-out .loading__mask {
  transform: translateY(110%);
}

/* Noise styles */
.noise {
  position: fixed;
  z-index: 100;
  top: -300%;
  left: -150%;
  height: 600%;
  width: 600%;
  -webkit-animation: grain 7s steps(10) infinite;
  animation: grain 7s steps(10) infinite;
  background-image: url(/src/assets/nnnoise2.svg);
  background-size: 200px;
  background-repeat: repeat;
  opacity: 0.5;
  pointer-events: none;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

/* Table of Contents */

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

nav li > a {
  opacity: 0.6;
}

nav li.active > a {
  color: var(--green);
  opacity: 1;
}

nav li:hover > a {
  color: var(--green);
  opacity: 1;
}

nav li > div {
  width: 30px;
  background-color: var(--whiteDimmed);
  transition: all 0.2s ease-in-out;
}

nav li.active > div {
  background-color: var(--green);
  width: 50px;
}

nav li:hover > div {
  background-color: var(--green);
  width: 50px;
}

/* Transition styles */

/* Fade up */

.intro {
  opacity: 0;
  transition:
    opacity 300ms,
    transform 300ms;
  transform: translateY(40px);
}

.intro-enter-active {
  opacity: 0.1;
  transform: translateY(40px);
}

.intro-enter-done {
  opacity: 1;
  transform: translateY(0px);
}

.about {
  opacity: 0;
  transition: opacity 1000ms;
  transition:
    opacity 400ms,
    transform 300ms;
  transform: translateX(200px);
}

.about-enter-active {
  opacity: 0;
  transform: translateX(200px);
}

.about-enter-done {
  opacity: 1;
  transform: translateX(0px);
}

.tech {
  opacity: 0;
  transition:
    opacity 500ms,
    transform 300ms;
  transform: translateY(40px);
}

.tech-enter-active {
  opacity: 0;
  transform: translateY(40px);
}

.tech-enter-done {
  opacity: 1;
  transform: translateY(0px);
}

.connect {
  opacity: 0;
  transition:
    opacity 500ms,
    transform 500ms;
  transform: translateX(-200px);
}

.connect-enter-active {
  opacity: 0;
  transform: translateX(-200px);
}

.connect-enter-done {
  opacity: 1;
  transform: translateX(0px);
}

.projects-section,
.experience-section {
  opacity: 0;
  transition:
    opacity 1000ms,
    transform 500ms;
  transform: translateY(100px);
}

.projects-section-enter-active,
.experience-section-enter-active {
  opacity: 1;
  transform: translateY(0px);
}

.projects-section-enter-done,
.experience-section-enter-done {
  opacity: 1;
  transform: translateY(0px);
}

.nav-items {
  opacity: 0;
  transition:
    opacity 500ms,
    transform 300ms;
  transform: translateY(40px);
}

.nav-items-enter-active {
  opacity: 0.1;
  transform: translateY(40px);
}

.nav-items-enter-done {
  opacity: 1;
  transform: translateY(0px);
}

/* Content styles on scroll */

@media (min-width: 1000px) {
  section > .section-content {
    transition: all 0.4s ease-in-out;
    padding: 10px;
    padding-left: 50px;
    border-left: 0.5px solid transparent;
  }

  section#projects > .section-content {
    padding-left: 30px;
  }

  section#experience > .section-content {
    padding-left: 30px;
  }

  section > .section-content.show-border {
    opacity: 1;
    transition: border-color 0.4s ease-in-out;
    border-left: 0.5px solid var(--green);
  }

  section.fade > .section-content {
    border-left: 0.5px solid transparent;
    opacity: 1;
    box-shadow: none;
  }

  section > .section-content > .shadow-div {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  section.fade > .section-content > .shadow-div {
    opacity: 0;
    box-shadow: none;
  }
}

@media (min-width: 600px) {
  .focus {
    transition: all 0.2s ease-in-out;
    background-color: rgba(27, 39, 60, 0.4);
    border-radius: 5px;
    box-shadow: 0px -1px 0px 0px rgba(125, 125, 129, 0.2);
  }

  .unfocus {
    opacity: 0.3;
  }
}

.section-label {
  transition: all 0.2s ease-in-out;
  transform: translateX(100px);
}

.section-label-transition-complete {
  transition: all 0.2s ease-in-out;

  transform: translateX(0px);
}
